.test {
    background-color: darksalmon;
    height: 100vh;
}

.navbar {
    background-color:rgb(16, 139, 22);
}



.navbar-item {
    text-align: center;
}


.footer {
    text-align: center;
    background-color: darkgray;
    /* position: fixed;
    bottom: 0; */
    width: 100%;
    margin-top: 50px;
    
}

html, body {
    height: 100%;
    margin: 0;
  }

body {
  min-height: 100vh;
}

  .wrapper {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
  }
  .footer,
  .push {
    
    height: 50px;
  }
  
  .card {
    margin: 20px;
}

.define{
  text-align: center;
}

.button-search{
  text-align: center;
  margin-bottom: 50px;

}

.submit {
    padding-left: 20px;
    padding-right: 20px;
}

#map {
  margin-top: 20px;
}

.title {
  margin-bottom: 20px;
}

<<<<<<< HEAD
.input{
    max-width: 57%;
    display: block;
    margin: 0 auto;
}

.soloButton {
    text-align: center;
=======
#polychrome {
  width:auto;
  height:auto;
}

.hero {
  padding:0px, 0px, auto, 0px;
}

.hero-body {
  background-image: url("https://cdn.pixabay.com/photo/2016/08/26/17/24/landscape-1622718__340.jpg");
  background-size: cover;
  height: calc(100vw * 0.13);
>>>>>>> 17715b52c0aac85a427aeb3a3a53bbb20f1efa90
}